# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
* How to make a header
* How to make ordered list
* How to make tables
* How to evaluate simple arithmetic expression
* How to make a title

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Java
    4. SQL
    5. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1. TensorFlow
    2. SciPy
    3. NumPy

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Roentgen Del Mundo